### Mapping Countries with Continents in Raw Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sns
import io
import requests
from unidecode import unidecode
%matplotlib inline

In [2]:
url="https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv"

In [3]:
data=requests.get(url).content
df=pd.read_csv(io.StringIO(data.decode('utf-8')))

In [4]:
df.columns

Index(['iso_code', 'country', 'year', 'co2', 'consumption_co2',
       'co2_growth_prct', 'co2_growth_abs', 'trade_co2', 'co2_per_capita',
       'consumption_co2_per_capita', 'share_global_co2', 'cumulative_co2',
       'share_global_cumulative_co2', 'co2_per_gdp', 'consumption_co2_per_gdp',
       'co2_per_unit_energy', 'coal_co2', 'cement_co2', 'flaring_co2',
       'gas_co2', 'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita', 'other_co2_per_capita', 'trade_co2_share',
       'share_global_cement_co2', 'share_global_coal_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_oil_co2', 'share_global_other_co2',
       'cumulative_cement_co2', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_oil_co2',
       'cumulative_other_co2', 'share_global_cumulative_cement_co2',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'population', 'gdp',
       'primary_energy_consumption', 'energy_per_capita', 'energy_per_gdp'],
      dtype='object')

In [5]:
df['country'].value_counts()

United Kingdom          271
EU-28                   271
Europe                  271
World                   271
Europe (excl. EU-27)    271
                       ...
Micronesia (country)     29
Micronesia               27
Wallis and Futuna        20
Timor                    19
Kosovo                   13
Name: country, Length: 244, dtype: int64

In [6]:
country_count=dict(df['country'].value_counts())

In [7]:
df_country=pd.read_csv("D:/DCU/CA682_DataVisualization/Dataset/Segragated_Datasets/Countries and Continents.csv")

In [8]:
df_country.columns

Index(['Country', 'Continent'], dtype='object')

In [9]:
df_map=df_country[['Country','Continent']]

In [10]:
df_map

                      Country      Continent
0                 Afghanistan           Asia
1               Åland Islands         Europe
2                     Albania         Europe
3                     Algeria         Africa
4              American Samoa        Oceania
..                        ...            ...
285                    Russia         Europe
286  French Equatorial Africa         Africa
287           Leeward Islands  South America
288                      Iran           Asia
289                     Palau        Oceania

[290 rows x 2 columns]

In [ ]:
# # lower_map=lambda x: x.lower()
# df_map['Country']=df_map['Country'].apply(lower_map)
# df_map['Continent']=df_map['Continent'].apply(lower_map)

In [ ]:
#df_map

In [11]:
def unicode_string(var): 
    temp=''
    for i in var:
        if i != ' ':
            x=unidecode(i)
            temp+=x
        else:
            temp+=' '
    return temp

In [12]:
country_updt=[]
for country in df_map['Country']:
    country_clean=unicode_string(list(country))
    country_updt+=[country_clean]

In [13]:
continent_updt=[]
for continent in df_map['Continent']:
    continent_clean=unicode_string(list(continent))
    continent_updt+=[continent_clean]

### Continent Segregation

In [14]:
df['continent']= pd.Series()

<ipython-input-14-77f36bf643a6>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['continent']= pd.Series()

In [15]:
for i in range(len(df['country'])):
    if df['country'][i] in continent_updt:
        df['continent'][i]=df['country'][i]

<ipython-input-15-9c87ff34f121>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['continent'][i]=df['country'][i]
C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [16]:
df

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,trade_co2,co2_per_capita,consumption_co2_per_capita,...,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,continent
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,0.002,NaN,...,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,NaN,475.00,0.070,NaN,0.011,NaN,...,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,NaN,8.70,0.007,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,NaN,0.00,0.000,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,NaN,16.00,0.015,NaN,0.013,NaN,...,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25199,ZWE,Zimbabwe,2016,10.738,12.153,-12.17,-1.488,1.415,0.765,0.866,...,11.92,0.85,6.55,0.467,14030338.0,2.096179e+10,47.5,3385.574,1.889,NaN
25200,ZWE,Zimbabwe,2017,9.582,11.248,-10.77,-1.156,1.666,0.673,0.790,...,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10,NaN,NaN,NaN,NaN
25201,ZWE,Zimbabwe,2018,11.854,13.163,23.72,2.273,1.308,0.821,0.912,...,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10,NaN,NaN,NaN,NaN
25202,ZWE,Zimbabwe,2019,10.949,12.422,-7.64,-0.905,1.473,0.748,0.848,...,NaN,NaN,NaN,NaN,14645473.0,NaN,NaN,NaN,NaN,NaN
25203,ZWE,Zimbabwe,2020,10.531,NaN,-3.82,-0.418,NaN,0.709,NaN,...,NaN,NaN,NaN,NaN,14862927.0,NaN,NaN,NaN,NaN,NaN

In [17]:
df['continent'].value_counts()

Europe                        271
World                         271
Europe (excl. EU-27)          271
North America (excl. USA)     236
North America                 236
Europe (excl. EU-28)          192
Asia (excl. China & India)    191
Asia                          191
Oceania                       161
South America                 137
Africa                        137
Antarctica                     34
Name: continent, dtype: int64

In [18]:
df['continent'].isnull().sum()

22876

In [19]:
cc_map= dict(zip(country_updt,continent_updt))

In [20]:
cc_map

{'Afghanistan': 'Asia',
 'Aland Islands': 'Europe',
 'Albania': 'Europe',
 'Algeria': 'Africa',
 'American Samoa': 'Oceania',
 'Andorra': 'Europe',
 'Angola': 'Africa',
 'Anguilla': 'North America',
 'Antarctica': 'Antarctica',
 'Antigua and Barbuda': 'North America',
 'Argentina': 'South America',
 'Armenia': 'Asia',
 'Aruba': 'North America',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Azerbaijan': 'Asia',
 'Bahamas': 'North America',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Barbados': 'North America',
 'Belarus': 'Europe',
 'Belgium': 'Europe',
 'Belize': 'North America',
 'Benin': 'Africa',
 'Bermuda': 'North America',
 'Bhutan': 'Asia',
 'Bolivia (Plurinational State of)': 'South America',
 'Bonaire, Sint Eustatius and Saba': 'North America',
 'Bosnia and Herzegovina': 'Europe',
 'Botswana': 'Africa',
 'Bouvet Island': 'South America',
 'Brazil': 'South America',
 'British Indian Ocean Territory': 'Africa',
 'British Virgin Islands': 'North America',
 'Brunei Darussalam': 'Asia',
 'Bulgaria': 'Europe',
 'Burkina Faso': 'Africa',
 'Burundi': 'Africa',
 'Cabo Verde': 'Africa',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'North America',
 'Cayman Islands': 'North America',
 'Central African Republic': 'Africa',
 'Chad': 'Africa',
 'Chile': 'South America',
 'China': 'Asia',
 'China, Hong Kong Special Administrative Region': 'Asia',
 'China, Macao Special Administrative Region': 'Asia',
 'Christmas Island': 'Oceania',
 'Cocos (Keeling) Islands': 'Oceania',
 'Colombia': 'South America',
 'Comoros': 'Africa',
 'Congo': 'Africa',
 'Cook Islands': 'Oceania',
 'Costa Rica': 'North America',
 "Cote d'Ivoire": 'Africa',
 'Croatia': 'Europe',
 'Cuba': 'North America',
 'Curacao': 'North America',
 'Cyprus': 'Asia',
 'Czechia': 'Europe',
 "Democratic People's Republic of Korea": 'Asia',
 'Democratic Republic of the Congo': 'Africa',
 'Denmark': 'Europe',
 'Djibouti': 'Africa',
 'Dominica': 'North America',
 'Dominican Republic': 'North America',
 'Ecuador': 'South America',
 'Egypt': 'Africa',
 'El Salvador': 'North America',
 'Equatorial Guinea': 'Africa',
 'Eritrea': 'Africa',
 'Estonia': 'Europe',
 'Eswatini': 'Africa',
 'Ethiopia': 'Africa',
 'Falkland Islands (Malvinas)': 'South America',
 'Faroe Islands': 'Europe',
 'Fiji': 'Oceania',
 'Finland': 'Europe',
 'France': 'Europe',
 'French Guiana': 'South America',
 'French Polynesia': 'Oceania',
 'French Southern Territories': 'Africa',
 'Gabon': 'Africa',
 'Gambia': 'Africa',
 'Georgia': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Gibraltar': 'Europe',
 'Greece': 'Europe',
 'Greenland': 'North America',
 'Grenada': 'North America',
 'Guadeloupe': 'North America',
 'Guam': 'Oceania',
 'Guatemala': 'North America',
 'Guernsey': 'Europe',
 'Guinea': 'Africa',
 'Guinea-Bissau': 'Africa',
 'Guyana': 'South America',
 'Haiti': 'North America',
 'Heard Island and McDonald Islands': 'Oceania',
 'Holy See': 'Europe',
 'Honduras': 'North America',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran (Islamic Republic of)': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Isle of Man': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 'Jamaica': 'North America',
 'Japan': 'Asia',
 'Jersey': 'Europe',
 'Jordan': 'Asia',
 'Kazakhstan': 'Asia',
 'Kenya': 'Africa',
 'Kiribati': 'Oceania',
 'Kuwait': 'Asia',
 'Kyrgyzstan': 'Asia',
 "Lao People's Democratic Republic": 'Asia',
 'Latvia': 'Europe',
 'Lebanon': 'Asia',
 'Lesotho': 'Africa',
 'Liberia': 'Africa',
 'Libya': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Mali': 'Africa',
 'Malta': 'Europe',
 'Marshall Islands': 'Oceania',
 'Martinique': 'North America',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mayotte': 'Africa',
 'Mexico': 'North America',
 'Micronesia (Federated States of)': 'Oceania',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Montenegro': 'Europe',
 'Montserrat': 'North America',
 'Morocco': 'Africa',
 'Mozambique': 'Africa',
 'Myanmar': 'Asia',
 'Namibia': 'Africa',
 'Nauru': 'Oceania',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'New Caledonia': 'Oceania',
 'New Zealand': 'Oceania',
 'Nicaragua': 'North America',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Niue': 'Oceania',
 'Norfolk Island': 'Oceania',
 'North Macedonia': 'Europe',
 'Northern Mariana Islands': 'Oceania',
 'Norway': 'Europe',
 'Oman': 'Asia',
 'Pakistan': 'Asia',
 'Palau': 'Oceania',
 'Panama': 'North America',
 'Papua New Guinea': 'Oceania',
 'Paraguay': 'South America',
 'Peru': 'South America',
 'Philippines': 'Asia',
 'Pitcairn': 'Oceania',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Puerto Rico': 'North America',
 'Qatar': 'Asia',
 'Republic of Korea': 'Asia',
 'Republic of Moldova': 'Europe',
 'Reunion': 'Africa',
 'Romania': 'Europe',
 'Russian Federation': 'Europe',
 'Rwanda': 'Africa',
 'Saint Barthelemy': 'North America',
 'Saint Helena': 'Africa',
 'Saint Kitts and Nevis': 'North America',
 'Saint Lucia': 'North America',
 'Saint Martin (French Part)': 'North America',
 'Saint Pierre and Miquelon': 'North America',
 'Saint Vincent and the Grenadines': 'North America',
 'Samoa': 'Oceania',
 'San Marino': 'Europe',
 'Sao Tome and Principe': 'Africa',
 'Sark': 'Europe',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Singapore': 'Asia',
 'Sint Maarten (Dutch part)': 'North America',
 'Slovakia': 'Europe',
 'Slovenia': 'Europe',
 'Solomon Islands': 'Oceania',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'South Georgia and the South Sandwich Islands': 'South America',
 'South Sudan': 'Africa',
 'Spain': 'Europe',
 'Sri Lanka': 'Asia',
 'State of Palestine': 'Asia',
 'Sudan': 'Africa',
 'Suriname': 'South America',
 'Svalbard and Jan Mayen Islands': 'Europe',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Syrian Arab Republic': 'Asia',
 'Tajikistan': 'Asia',
 'Thailand': 'Asia',
 'Timor-Leste': 'Asia',
 'Togo': 'Africa',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Trinidad and Tobago': 'North America',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'Turkmenistan': 'Asia',
 'Turks and Caicos Islands': 'North America',
 'Tuvalu': 'Oceania',
 'Uganda': 'Africa',
 'Ukraine': 'Europe',
 'United Arab Emirates': 'Asia',
 'United Kingdom of Great Britain and Northern Ireland': 'Europe',
 'United Republic of Tanzania': 'Africa',
 'United States Minor Outlying Islands': 'Oceania',
 'United States of America': 'North America',
 'United States Virgin Islands': 'North America',
 'Uruguay': 'South America',
 'Uzbekistan': 'Asia',
 'Vanuatu': 'Oceania',
 'Venezuela (Bolivarian Republic of)': 'South America',
 'Viet Nam': 'Asia',
 'Wallis and Futuna Islands': 'Oceania',
 'Western Sahara': 'Africa',
 'Yemen': 'Asia',
 'Zambia': 'Africa',
 'Zimbabwe': 'Africa',
 'Bolivia': 'South America',
 'Wallis and Futuna': 'Oceania',
 'Micronesia (country)': 'Oceania',
 'Hong Kong': 'Asia',
 'Ryukyu Islands': 'Asia',
 'South Korea': 'Asia',
 'International transport': 'Europe',
 'North Korea': 'Asia',
 'Brunei': 'Asia',
 'Kosovo': 'Europe',
 'United States': 'North America',
 'Panama Canal Zone': 'South America',
 'Moldova': 'Europe',
 'United Kingdom': 'Europe',
 'North America (excl. USA)': 'North America (excl. USA)',
 'Macao': 'Asia',
 'Taiwan': 'Asia',
 'Democratic Republic of Congo': 'Africa',
 'Syria': 'Asia',
 'Venezuela': 'South America',
 'French West Africa': 'Africa',
 'Faeroe Islands': 'Europe',
 'Micronesia': 'Oceania',
 'Bonaire Sint Eustatius and Saba': 'South America',
 'Europe (excl. EU-28)': 'Europe (excl. EU-28)',
 'Europe (excl. EU-27)': 'Europe (excl. EU-27)',
 'EU-28': 'Europe',
 'EU-27': 'Europe',
 'Timor': 'Asia',
 'Tanzania': 'Africa',
 'Vietnam': 'Asia',
 'Laos': 'Asia',
 'World': 'World',
 'Palestine': 'Asia',
 'Cape Verde': 'Africa',
 'Asia (excl. China & India)': 'Asia (excl. China & India)',
 'Russia': 'Europe',
 'French Equatorial Africa': 'Africa',
 'Leeward Islands': 'South America',
 'Iran': 'Asia'}

In [21]:
continent_updt_unique=list(set(continent_updt))
print(continent_updt_unique)

['North America', 'Europe (excl. EU-28)', 'Europe (excl. EU-27)', 'North America (excl. USA)', 'South America', 'Africa', 'Oceania', 'Europe', 'Asia (excl. China & India)', 'World', 'Antarctica', 'Asia']

In [25]:
for i in range(len(df['country'])):
    if df['country'][i] in country_updt:
        df['continent'][i]=cc_map.get(df['country'][i])

<ipython-input-25-16cb5ea50d63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['continent'][i]=cc_map.get(df['country'][i])

In [26]:
df['continent'].value_counts()

Europe                        7534
Asia                          5587
Africa                        4409
North America                 3218
South America                 1678
Oceania                       1489
World                          271
Europe (excl. EU-27)           271
North America (excl. USA)      236
Europe (excl. EU-28)           192
Asia (excl. China & India)     191
Antarctica                      34
Name: continent, dtype: int64

In [27]:
df['continent'].unique()

array(['Asia', 'Africa', 'Europe', 'North America', 'Antarctica',
       'South America', 'Asia (excl. China & India)', 'Oceania',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)', nan,
       'North America (excl. USA)', 'World'], dtype=object)

In [28]:
df['continent'].isnull().sum()

94

In [29]:
empty_list=[]
for i in range(len(df['continent'])):
    if type(df['continent'][i]) == float:
        empty_list.append(i)

In [30]:
len(empty_list)

94

In [31]:
empty_cat=[]
for i in range(len(df['country'])):
    if i in empty_list:
        empty_cat.append(df['country'][i])
print(list(set(empty_cat)))

['St. Kitts-Nevis-Anguilla', 'Kuwaiti Oil Fires']

In [32]:
df.drop(df.loc[df['country']=='St. Kitts-Nevis-Anguilla'].index, inplace=True)

In [33]:
df.drop(df.loc[df['country']=='Kuwaiti Oil Fires'].index, inplace=True)

In [34]:
df['continent'].isnull().sum()

0

In [35]:
df.to_csv('D:/DCU/CA682_DataVisualization/Dataset/Final_Cleaned_CO2Emssion.csv',index=False)