### Final DataCleaning of Countries and Continents Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sns
import io
import requests
from unidecode import unidecode
%matplotlib inline

In [2]:
df = pd.read_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/Intermediate/OnlyCountry_CO2Emission.csv')

In [3]:
df1 = pd.read_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/Intermediate/OnlyContinent_CO2Emission.csv')

In [4]:
len(df['country'].unique())

230

In [5]:
len(df1['continent'].unique())

12

In [6]:
country_year_data = {}
for unique_country in df['country'].unique():
    for country,year in zip(df['country'],df['year']):
        if unique_country.lower() == country.lower():
            if country.lower() not in country_year_data:
                country_year_data[country.lower()] = [year]
            else:
                country_year_data[country.lower()].append(year)

In [7]:
continent_year_data = {}
for unique_continent in df1['continent'].unique():
    for continent,year in zip(df1['continent'],df1['year']):
        if unique_continent.lower() == continent.lower():
            if continent.lower() not in continent_year_data:
                continent_year_data[continent.lower()] = [year]
            else:
                continent_year_data[continent.lower()].append(year)

In [8]:
unique_year=[1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]
for k,v in country_year_data.items():
    for i in unique_year:
        if i not in v:
            print(k,min(v))

kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
kosovo 2008
micronesia 1990
micronesia 1990
micronesia 1990
micronesia 1990
timor 2002
timor 2002
timor 2002
timor 2002
timor 2002
timor 2002
timor 2002
wallis and futuna 2001
wallis and futuna 2001
wallis and futuna 2001
wallis and futuna 2001
wallis and futuna 2001
wallis and futuna 2001

In [9]:
unique_year_con=[1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]
for k1,v1 in continent_year_data.items():
    for i in unique_year_con:
        if i not in v1:
            print(k1,min(v1))

In [10]:
for k,v in dict(df['country'].value_counts()).items():
    if k.lower() == 'micronesia':
        print(v)

27

In [11]:
for k,v in dict(df['country'].value_counts()).items():
    if k.lower() == 'kosovo':
        print(v)

13

In [12]:
for k,v in dict(df['country'].value_counts()).items():
    if k.lower() == 'timor':
        print(v)

19

In [13]:
for k,v in dict(df['country'].value_counts()).items():
    if k.lower() == 'wallis and futuna':
        print(v)

20

In [14]:
df.drop(df.loc[df['country']=='Wallis and Futuna'].index,inplace=True)

In [15]:
df.drop(df.loc[df['country']=='Timor'].index,inplace=True)

In [16]:
df.drop(df.loc[df['country']=='Kosovo'].index,inplace=True)

In [17]:
df.drop(df.loc[df['country']=='Micronesia'].index,inplace=True)

In [18]:
df.shape

(22703, 58)

In [19]:
df1.shape

(25110, 57)

In [20]:
drop_index_list=[]
for i in range(len(df['year'])):
    if df['year'].iloc[i] < 1995:
        drop_index_list.append(i)

In [21]:
df.drop(df.index[drop_index_list], inplace=True)

In [22]:
df.shape

(5876, 58)

In [23]:
drop_index_list1=[]
for i in range(len(df1['year'])):
    if df1['year'].iloc[i] < 1995:
        drop_index_list1.append(i)

In [24]:
df1.drop(df1.index[drop_index_list1], inplace=True)

In [25]:
df1.shape

(6262, 57)

In [26]:
#Dropping unnecessary columns from Country and Continent dataset:
df.drop(['trade_co2','trade_co2_share','share_global_co2','share_global_cumulative_co2','share_global_coal_co2','share_global_oil_co2','share_global_gas_co2','share_global_flaring_co2','share_global_cement_co2','share_global_other_co2','share_global_cumulative_coal_co2','share_global_cumulative_oil_co2','share_global_cumulative_gas_co2','share_global_cumulative_flaring_co2','share_global_cumulative_cement_co2','share_global_cumulative_other_co2'],axis=1,inplace=True)

In [27]:
df.shape

(5876, 42)

In [28]:
# Dropping columns from Continent dataset
df1.drop(['trade_co2','trade_co2_share','share_global_co2','share_global_cumulative_co2','share_global_coal_co2','share_global_oil_co2','share_global_gas_co2','share_global_flaring_co2','share_global_cement_co2','share_global_other_co2','share_global_cumulative_coal_co2','share_global_cumulative_oil_co2','share_global_cumulative_gas_co2','share_global_cumulative_flaring_co2','share_global_cumulative_cement_co2','share_global_cumulative_other_co2'],axis=1,inplace=True)

In [29]:
df1.shape

(6262, 41)

In [30]:
df.to_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/Final/Country.csv', index=False)

In [31]:
df1.to_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/Final/Continent.csv', index=False)

### Cleaning the section of Net-Status Zero

In [32]:
df_status = pd.read_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/Intermediate/CO2_NetZero_Target.csv')

In [33]:
df_status.rename(columns={'Entity' : 'country', 'Year_x' : 'target_year','Status of net-zero target' : 'status','Is there a net-zero target?':'net-zero target?'},inplace=True)

In [34]:
df_status

                 country  target_year              status net-zero target?
0    Antigua and Barbuda         2040  In policy document              Yes
1              Australia         2050              Pledge              Yes
2                Austria         2040  In policy document              Yes
3                Bahrain         2060              Pledge              Yes
4               Barbados         2030  In policy document              Yes
..                   ...          ...                 ...              ...
61  United Arab Emirates         2050              Pledge              Yes
62        United Kingdom         2050              In law              Yes
63         United States         2050              Pledge              Yes
64               Uruguay         2050  In policy document              Yes
65               Vietnam         2050              Pledge              Yes

[66 rows x 4 columns]

In [35]:
df_status.to_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/Final/netZero_CO2.csv',index=False)