### Separating the datasets depending on countries and Continents
###  Merging Datasets for status of Countries having net-zero CO2 Emission

### Diving Country Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sns
import io
import requests
from unidecode import unidecode
%matplotlib inline

In [2]:
df = pd.read_csv('D:/DCU/CA682_DataVisualization/Dataset/Segragated_Datasets/Final_Cleaned_CO2Emssion.csv')

In [4]:
df.shape

(25110, 59)

In [5]:
drop_index_list=[]
for i in range(len(df['country'])):
    if df['country'].iloc[i] == df['continent'].iloc[i]:
        drop_index_list.append(i)

In [6]:
df.drop(df.index[drop_index_list], inplace=True)

In [7]:
df.shape

(22782, 59)

In [9]:
df.drop('continent',axis=1,inplace=True)

In [10]:
df.shape

(22782, 58)

In [11]:
df.to_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/OnlyCountry_CO2Emission.csv', index=False)

### Merging NetZero Target Datasets

In [13]:
df1=pd.read_csv('D:/DCU/CA682_DataVisualization/Dataset/Raw_DataSets/net-zero-targets.csv')
df2=pd.read_csv('D:/DCU/CA682_DataVisualization/Dataset/Raw_DataSets/net-zero-target-set.csv')

In [14]:
df3=pd.merge(df1,df2,on='Entity')

In [15]:
df3

,Entity,Code_x,Year_x,Status of net-zero target,Code_y,Year_y,Is there a net-zero target?
0,Antigua and Barbuda,ATG,2040,In policy document,ATG,2040,Yes
1,Australia,AUS,2050,Pledge,AUS,2050,Yes
2,Austria,AUT,2040,In policy document,AUT,2040,Yes
3,Bahrain,BHR,2060,Pledge,BHR,2060,Yes
4,Barbados,BRB,2030,In policy document,BRB,2030,Yes
...,...,...,...,...,...,...,...
61,United Arab Emirates,ARE,2050,Pledge,ARE,2050,Yes
62,United Kingdom,GBR,2050,In law,GBR,2050,Yes
63,United States,USA,2050,Pledge,USA,2050,Yes
64,Uruguay,URY,2050,In policy document,URY,2050,Yes
65,Vietnam,VNM,2050,Pledge,VNM,2050,Yes

In [16]:
df4=df3.drop('Code_y',axis=1)

In [17]:
df5=df4.drop('Year_y',axis=1)

In [18]:
df6=df5.drop('Code_x',axis=1)

In [19]:
df6.to_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/CO2_NetZero_Target.csv',index=False)

### Dividing Continent Dataset

In [20]:
df_continent = pd.read_csv('D:/DCU/CA682_DataVisualization/Dataset/Segragated_Datasets/Final_Cleaned_CO2Emssion.csv')

In [25]:
df7= df_continent.drop('iso_code',axis=1)

In [26]:
df8=df7.drop('country',axis=1)

In [28]:
df8.shape

(25110, 57)

In [27]:
df8.to_csv('D:/DCU/CA682_DataVisualization/Cleaned_Datasets/OnlyContinent_CO2Emission.csv',index=False)